.App {
  section {
    margin-bottom: 42px;
  }

  section.form-error {
    margin-bottom: 12px;
    border: 1px solid #FF7070;
    border-radius: 12px;
    background: #221515;
  }

  .add-color-section {
    padding: 32px;
    border-radius: 12px;
    background: #202020;
  }

  .section-title {
    margin-bottom: 32px;
    text-transform: uppercase;
  }

  .inputs {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
  
  .name-input, .color-input {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 12px;
    border: 0;
    border-radius: 12px;
    background: #353535;
    color: #FFFFFF;
  }
  
  .add-button {
    text-align: right;
  }

  button {
    padding: 16px 70px;
    border: 0;
    border-radius: 12px;
    background: #36CE7C;
    color: #FFFFFF;
    justify-content: flex-end;
    text-transform: uppercase;
  }  
  
  span {
    margin-bottom: 6px;
    color: #FF7070;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
} 

